In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv(r'C:\Users\HP\Downloads\Unicorn_Companiesexcclean.csv')
data

,Company,Valuation,Valuation2,Valuation3,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Column2,Column3,Column4,Column5,Select Investors
0,Bytedance,$180B,180B,180000000000,4/7/2017,Artificial intelligence,Beijing,China,Asia,2012,$8B,8B,8000000000,8000000000,8000000000,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,100B,100000000000,12/1/2012,Other,Hawthorne,United States,North America,2002,$7B,7B,7000000000,7000000000,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,100B,100000000000,7/3/2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,2B,2000000000,2000000000,2000000000,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,95B,95000000000,1/23/2014,Fintech,San Francisco,United States,North America,2010,$2B,2B,2000000000,2000000000,2000000000,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,46B,46000000000,12/12/2011,Fintech,Stockholm,Sweden,Europe,2005,$4B,4B,4000000000,4000000000,4000000000,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,$1B,1B,1000000000,6/29/2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,$379M,379M,379M,379000000,379000000,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,$1B,1B,1000000000,4/18/2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,$990M,990M,990M,990000000,990000000,"58.com, Tencent Holdings"
1071,Zihaiguo,$1B,1B,1000000000,5/6/2021,Consumer & retail,Chongqing,China,Asia,2018,$80M,80M,80M,80000000,80000000,"Xingwang Investment Management, China Capital ..."
1072,Zopa,$1B,1B,1000000000,10/19/2021,Fintech,London,United Kingdom,Europe,2005,$792M,792M,792M,792000000,792000000,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,$1B,1B,1000000000,9/16/2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,$620M,620M,620M,620000000,620000000,"Novator Partners, True, Causeway Media Partners"

In [4]:
data2=data.drop(["Valuation", "Valuation2", 'Funding', "Column2", "Column3", "Column4"], axis=1)
data2

,Company,Valuation3,Date Joined,Industry,City,Country,Continent,Year Founded,Column5,Select Investors
0,Bytedance,180000000000,4/7/2017,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100000000000,12/1/2012,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100000000000,7/3/2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95000000000,1/23/2014,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46000000000,12/12/2011,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,6/29/2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,1000000000,4/18/2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings"
1071,Zihaiguo,1000000000,5/6/2021,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ..."
1072,Zopa,1000000000,10/19/2021,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,1000000000,9/16/2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners"

In [5]:
data2.rename(columns = {"Valuation3":"Valuation", "Column5":"Funding"},inplace=True)
data2

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180000000000,4/7/2017,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100000000000,12/1/2012,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100000000000,7/3/2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95000000000,1/23/2014,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46000000000,12/12/2011,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,6/29/2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,1000000000,4/18/2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings"
1071,Zihaiguo,1000000000,5/6/2021,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ..."
1072,Zopa,1000000000,10/19/2021,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,1000000000,9/16/2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners"

In [6]:
data2["City"] = data2["City"].fillna("No City")
data2

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180000000000,4/7/2017,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100000000000,12/1/2012,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100000000000,7/3/2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95000000000,1/23/2014,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46000000000,12/12/2011,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,6/29/2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,1000000000,4/18/2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings"
1071,Zihaiguo,1000000000,5/6/2021,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ..."
1072,Zopa,1000000000,10/19/2021,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,1000000000,9/16/2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners"

In [7]:
data2["Select Investors"] = data2["Select Investors"].fillna("No Investors")
data2

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180000000000,4/7/2017,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100000000000,12/1/2012,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100000000000,7/3/2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95000000000,1/23/2014,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46000000000,12/12/2011,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,6/29/2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,1000000000,4/18/2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings"
1071,Zihaiguo,1000000000,5/6/2021,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ..."
1072,Zopa,1000000000,10/19/2021,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,1000000000,9/16/2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners"

In [8]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   int64
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1074 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   int64
 9   Select Investors  1074 non-null   object
dtypes: int64(3), object(7)
memory usage: 84.0+ KB

In [9]:
pd.to_datetime(data2['Date Joined']).copy

<bound method NDFrame.copy of 0      2017-04-07
1      2012-12-01
2      2018-07-03
3      2014-01-23
4      2011-12-12
          ...
1069   2017-06-29
1070   2017-04-18
1071   2021-05-06
1072   2021-10-19
1073   2020-09-16
Name: Date Joined, Length: 1074, dtype: datetime64[ns]>

In [10]:
data2.convert_dtypes().dtypes

Company             string
Valuation            Int64
Date Joined         string
Industry            string
City                string
Country             string
Continent           string
Year Founded         Int64
Funding              Int64
Select Investors    string
dtype: object

In [11]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   int64
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1074 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   int64
 9   Select Investors  1074 non-null   object
dtypes: int64(3), object(7)
memory usage: 84.0+ KB

In [12]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   int64
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1074 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   int64
 9   Select Investors  1074 non-null   object
dtypes: int64(3), object(7)
memory usage: 84.0+ KB

In [13]:
data2

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180000000000,4/7/2017,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100000000000,12/1/2012,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100000000000,7/3/2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95000000000,1/23/2014,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46000000000,12/12/2011,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,6/29/2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,1000000000,4/18/2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings"
1071,Zihaiguo,1000000000,5/6/2021,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ..."
1072,Zopa,1000000000,10/19/2021,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,1000000000,9/16/2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners"

In [14]:
data2.rename(columns={'Valuation3': 'Valuation', 'Column5': 'Funding'}, inplace=True)
data2

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180000000000,4/7/2017,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100000000000,12/1/2012,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100000000000,7/3/2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95000000000,1/23/2014,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46000000000,12/12/2011,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,6/29/2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,1000000000,4/18/2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings"
1071,Zihaiguo,1000000000,5/6/2021,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ..."
1072,Zopa,1000000000,10/19/2021,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,1000000000,9/16/2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners"

In [16]:
data2.groupby('Industry').Country.describe()

                                    count unique            top freq
Industry
Artificial Intelligence                11      3  United States    6
Artificial intelligence                73     12  United States   40
Auto & transportation                  31     10          China   17
Consumer & retail                      25      8  United States   11
Cybersecurity                          50      5  United States   39
Data management & analytics            41      9  United States   31
E-commerce & direct-to-consumer       111     19  United States   30
Edtech                                 28      6          China   12
Fintech                               224     31  United States  120
Hardware                               34      7          China   17
Health                                 74     12  United States   51
Internet software & services          205     17  United States  149
Mobile & telecommunications            38     14          China   14
Other                                  58     16  United States   30
Supply chain, logistics, & delivery    57     18  United States   20
Travel                                 14     10          China    3

In [36]:
count_listingcountry = data2['Country'].value_counts().sort_values(ascending = False)
count_listingcountry

United States           562
China                   173
India                    65
United Kingdom           43
Germany                  26
France                   24
Israel                   20
Canada                   19
Brazil                   16
Singapore                12
South Korea              12
Australia                 8
Netherlands               6
Sweden                    6
Mexico                    6
Indonesia                 6
Hong Kong                 6
Switzerland               5
Japan                     5
Ireland                   5
Finland                   4
Norway                    4
Spain                     3
Belgium                   3
Turkey                    3
United Arab Emirates      3
South Africa              2
Philippines               2
Thailand                  2
Estonia                   2
Vietnam                   2
Austria                   2
Colombia                  2
Denmark                   2
Chile                     2
Bahamas                   1
Croatia                   1
Czech Republic            1
Nigeria                   1
Luxembourg                1
Argentina                 1
Senegal                   1
Malaysia                  1
Lithuania                 1
Bermuda                   1
Italy                     1
Name: Country, dtype: int64

In [ ]:
## The country with the highest number of unicorns is United states with 562, followed by China with 173 and India with 65

In [37]:
count_listingcity = data2['City'].value_counts().sort_values(ascending = False)
count_listingcity

San Francisco    152
New York         103
Beijing           63
Shanghai          44
London            34
                ...
Barcelona          1
Sherman Oaks       1
Boise              1
Tsuruoka           1
Milpitas           1
Name: City, Length: 257, dtype: int64

In [ ]:
## San francisco is the city with the highest number of unicorns

In [35]:
## creating a Return on Investment colomn

In [33]:
data2['ROI'] = (data2['Valuation'] - data2['Funding']) / data2['Funding']
data2['ROI']

0       21.500000
1       13.285714
2       49.000000
3       46.500000
4       10.500000
          ...
1069     1.638522
1070     0.010101
1071    11.500000
1072     0.262626
1073     0.612903
Name: ROI, Length: 1074, dtype: float64

In [39]:
data2

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,ROI
0,Bytedance,180000000000,4/7/2017,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S...",21.500000
1,SpaceX,100000000000,12/1/2012,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen...",13.285714
2,SHEIN,100000000000,7/3/2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China...",49.000000
3,Stripe,95000000000,1/23/2014,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG",46.500000
4,Klarna,46000000000,12/12/2011,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita...",10.500000
...,...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,6/29/2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital",1.638522
1070,Zhuan Zhuan,1000000000,4/18/2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings",0.010101
1071,Zihaiguo,1000000000,5/6/2021,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ...",11.500000
1072,Zopa,1000000000,10/19/2021,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North...",0.262626
1073,Zwift,1000000000,9/16/2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners",0.612903

In [44]:
data2['Date Joined'] = pd.to_datetime(data2['Date Joined'])
data2

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,ROI
0,Bytedance,180000000000,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S...",21.500000
1,SpaceX,100000000000,2012-12-01,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen...",13.285714
2,SHEIN,100000000000,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China...",49.000000
3,Stripe,95000000000,2014-01-23,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG",46.500000
4,Klarna,46000000000,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita...",10.500000
...,...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,2017-06-29,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital",1.638522
1070,Zhuan Zhuan,1000000000,2017-04-18,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings",0.010101
1071,Zihaiguo,1000000000,2021-05-06,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ...",11.500000
1072,Zopa,1000000000,2021-10-19,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North...",0.262626
1073,Zwift,1000000000,2020-09-16,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners",0.612903

In [47]:
data2['Year joined'] = data2['Date Joined'].dt.year
data2

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,ROI,Date joined,Year joined
0,Bytedance,180000000000,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S...",21.500000,2017,2017
1,SpaceX,100000000000,2012-12-01,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen...",13.285714,2012,2012
2,SHEIN,100000000000,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China...",49.000000,2018,2018
3,Stripe,95000000000,2014-01-23,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG",46.500000,2014,2014
4,Klarna,46000000000,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita...",10.500000,2011,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,2017-06-29,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital",1.638522,2017,2017
1070,Zhuan Zhuan,1000000000,2017-04-18,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings",0.010101,2017,2017
1071,Zihaiguo,1000000000,2021-05-06,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ...",11.500000,2021,2021
1072,Zopa,1000000000,2021-10-19,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North...",0.262626,2021,2021
1073,Zwift,1000000000,2020-09-16,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners",0.612903,2020,2020

In [48]:
data2['HowLong'] = (data2['Year joined'] - data2['Year Founded'])
data2['HowLong']

0        5
1       10
2       10
3        4
4        6
        ..
1069     5
1070     2
1071     3
1072    16
1073     6
Name: HowLong, Length: 1074, dtype: int64

In [49]:
data2

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,ROI,Date joined,Year joined,HowLong
0,Bytedance,180000000000,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S...",21.500000,2017,2017,5
1,SpaceX,100000000000,2012-12-01,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen...",13.285714,2012,2012,10
2,SHEIN,100000000000,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China...",49.000000,2018,2018,10
3,Stripe,95000000000,2014-01-23,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG",46.500000,2014,2014,4
4,Klarna,46000000000,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita...",10.500000,2011,2011,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1000000000,2017-06-29,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379000000,"K2 Ventures, Matrix Partners China, IDG Capital",1.638522,2017,2017,5
1070,Zhuan Zhuan,1000000000,2017-04-18,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990000000,"58.com, Tencent Holdings",0.010101,2017,2017,2
1071,Zihaiguo,1000000000,2021-05-06,Consumer & retail,Chongqing,China,Asia,2018,80000000,"Xingwang Investment Management, China Capital ...",11.500000,2021,2021,3
1072,Zopa,1000000000,2021-10-19,Fintech,London,United Kingdom,Europe,2005,792000000,"IAG Capital Partners, Augmentum Fintech, North...",0.262626,2021,2021,16
1073,Zwift,1000000000,2020-09-16,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620000000,"Novator Partners, True, Causeway Media Partners",0.612903,2020,2020,6

In [51]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   int64
 2   Date Joined       1074 non-null   datetime64[ns]
 3   Industry          1074 non-null   object
 4   City              1074 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   int64
 9   Select Investors  1074 non-null   object
 10  ROI               1074 non-null   float64
 11  Date joined       1074 non-null   int64
 12  Year joined       1074 non-null   int64
 13  HowLong           1074 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(6)
memory usage: 117.6+ KB

In [52]:
data2.describe()

,Valuation,Year Founded,Funding,ROI,Date joined,Year joined,HowLong
count,1.074000e+03,1074.000000,1.074000e+03,1074.000000,1074.000000,1074.000000,1074.000000
mean,3.455307e+09,2012.895717,5.510428e+08,inf,2019.896648,2019.896648,7.000931
std,8.547022e+09,5.698573,8.077194e+08,NaN,2.001288,2.001288,5.329672
min,1.000000e+09,1919.000000,0.000000e+00,-0.500000,2007.000000,2007.000000,-4.000000
25%,1.000000e+09,2011.000000,2.180000e+08,2.497378,2019.000000,2019.000000,4.000000
50%,2.000000e+09,2014.000000,3.650000e+08,4.263158,2021.000000,2021.000000,6.000000
75%,3.000000e+09,2016.000000,6.030000e+08,7.376120,2021.000000,2021.000000,9.000000
max,1.800000e+11,2021.000000,1.400000e+10,inf,2022.000000,2022.000000,98.000000

In [53]:
## from the 'HowLong' column, it takes an average of 7 years for a company to reach unicorn status. A minimum time of 4 years and a maximum time of 98 years

In [63]:
data2['Select Investors'].value_counts()

Sequoia Capital                                                     3
Speedinvest, Valar Ventures, Uniqa Ventures                         2
General Atlantic                                                    2
Sequoia Capital China, Qiming Venture Partners, Tencent Holdings    2
Global Founders Capital, Shea Ventures, Greycroft                   2
                                                                   ..
Trustbridge Partners, IDG Capital, Sequoia Capital China            1
K2VC, Lightspeed China Partners, Sky9 Capital                       1
Automobile Industry Guidance Fund                                   1
Trustbridge Partners, Hony Capital, IDG Capital                     1
Novator Partners, True, Causeway Media Partners                     1
Name: Select Investors, Length: 1059, dtype: int64

In [64]:
## Sequoia Capital has funded the most Unicorns